@font-face {
    font-family: Roundkey;
    src: url("../../fonts/Roundkey\ Regular.otf");
}

.dasfasfkasfhoiasbfbfa {
    font-size: 4rem;
    font-family: Roundkey;
    /* background: ; */
    background-color: rgb(161, 161, 161);
}

/* .lllololo:hover{
cursor: pointer;
}
.lllololo{
    display: none;
} */